streamlit>=1.32.0
langchain>=0.1.0
langchain-core>=0.1.0
langchain-community>=0.1.0
langgraph>=0.1.0
langchain-google-genai
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
arxiv
python-dotenv
tavily-python